<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to Statext</title>
  </head>
  <body>
    <h1>Welcome to Statext</h1>
    <form action="/" method="post">
       <textarea id="text_field" name="text" cols="40" rows="5"></textarea>
       <input type="submit"  value="Submit">
    </form>
  </body>
</html>
