<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to Statext</title>
  </head>
  <body>
    <h1>Welcome to Statext</h1>
    <p>This app will run some calculations on the text you enter below and return some statistics on how easy it is to read.</p>
    <form action="/" method="post">
       <textarea id="text_field" name="text" cols="40" rows="5"></textarea>
       <br>
       <input type="submit"  value="Submit">
    </form>
  </body>
</html>
