<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to Statext</title>
  </head>
  <body>
    <h1>Welcome to Statext</h1>
    <form action="/" method="post">
       <input type="text" name="text">
       <button type="submit"  value="Submit">
    </form>
  </body>
</html>
