<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to Statext</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <h1>Welcome to Statext</h1>
    <p>This app will run some calculations on the text you enter below and return some statistics on how easy it is to read.</p>
    <form action="/" method="post">
       <textarea id="text_field" name="text" cols="40" rows="5"></textarea>
       <br>
       <input type="submit"  value="Submit">
    </form>
  </body>
</html>
