<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to Statext</title>
  </head>
  <body>
    <h1>Results:</h1>
    <p><%= @text %></p>
    <br>
    <h3>This text is <%= @results.notes.downcase %></h3>
    <h3>It has a raw readability score of <%= @results.score %></h3>
    <h3>It would be easily read by the average <%= @results.grade %> student.</h3>
    <a href="/">Click here to check more text</a>
  </body>
</html>
