<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to Statext</title>
  </head>
  <body>
    <h1>Results</h1>
    <h2>Your text is <%= @results.notes %></h2>
    <h2>It has a raw readability score of <%= @results.score %></h2>
    <h2>It will be easily read by the average <%= @results.grade %> student</h2>
  </body>
</html>
